body{
    background-color: beige;
}
td{
    width: 250px;
    height: 45px;
    border: solid #9d9dfa 1px;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;
}
th{
    width: 250px;
    height: 30px;
    border: solid #9d9dfa 1px;
    text-align: center;
    background-color: #6a6af3;
    color: white;
    margin-left: 45px;
}
input,textarea,select{
    margin-left: 100px;
}
fieldset{
    border: solid 3px mediumpurple;
    background-color: #4f9ba8;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-weight: bold;
}

table{
    border: solid 2px black;
    justify-content: space-between;
}