body{
    background-color: beige;
    text-align: center;
}
.formulario{
    margin-top: 50px;
    margin-left: 15%;
    width: 70%;
    height: 150px;
    background-color: #a5c3fa;
    border-radius: 10px;
}
input{
    margin-top: 15px;
}
.opciones{
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 15%;
    width: 70%;
    height: 45px;
    background-color:whitesmoke;
}
.opcion{
    border-radius: 10px;
}
.opcion:hover{
    font-weight: bolder;
    font-size: 20px;
}
.columna{
        width: 250px;
        height: 30px;
        border: solid #9d9dfa 1px;
        text-align: center;
        background-color: #6a6af3;
        color: white;
        margin-left: 45px;
}
td{
    width: 250px;
    height: 45px;
    border: solid #9d9dfa 1px;
    text-align: center;
    border-radius: 5px;
    background-color: whitesmoke;

}
#Form{
    margin-left: 15%;
    width: 70%;
    height: auto;
    background-color: whitesmoke;
    margin-top: 50px;
}
/*th{*/
/*    width: 250px;*/
/*    height: 30px;*/
/*    border: solid #9d9dfa 1px;*/
/*    text-align: center;*/
/*    background-color: #6a6af3;*/
/*    color: white;*/
/*    margin-left: 45px;*/
/*}*/
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
}

table{
    border: solid 2px black;
    justify-content: space-between;
}